*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #002339;
    color:#fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.container h1 {
    font-size: 35px;
    font-weight: 400;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
}

.display {
    width: 80%;
    background: #fff;
    color:#333;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    height: 60px;
}

.display input {
    font-size: 20px;
    border: 0;
    outline: 0;
}

.display img {
    width: 20px;
    cursor: pointer;
}

.container button img {
    width: 18px;
    margin-right: 10px;
}
.container button {
    border: 0;
    outline: 0;
    background:#019f55;
    color:#fff;
    font-size: 22px;
    font-weight: 300;
    align-items:center;
    display:flex;
    padding: 16px 26px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

#copy:active {
    transform: scale(0.95);
}

/* ---------------------------- This needs to be learned properly----------------------------------*/

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip::before {
    content: attr(data-text);
    position: absolute;
    bottom: 125%; /* Position the tooltip above the button */
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    padding: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: none;
    white-space: nowrap; /* Prevent tooltip text from wrapping */
    z-index: 1; /* Ensure the tooltip is above other elements */
}

.tooltip:hover::before {
    display: block;
}

